* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    position: relative;
    z-index: 10;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: rgb(108, 123, 123);
}
#logo {
    display: flex;
    align-items: center;
}
#watermark {
    margin-left: 8px;
}
#check {
    display: none;
}
.icon {
    color: white;
    font-size: 3vh;
}
label i {
    transition: transform 1s ease-out;
}
#check:checked ~ label i {
    transform: rotate(-90deg);
}
.navbar:has(#check:checked) ~ nav {
    margin-top: 0vh;
}
nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: rgba(108, 123, 123, .9);
    height: 88vh;
    padding: 600px 100px 80px 100px;
    margin-top: -100vh;
    transition: margin-top 1s ease-in-out;
    backdrop-filter: blur(5px) grayscale(100%);
}
.nav-link a {
    text-decoration: none;
    letter-spacing: 2;
    color: white;
}
.main-link {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 50%;
}
.main-link a {
    font-size: 80px;
}
.main-link a:hover {
    color: white;
}
.main-link:has(a:hover) a:not(:hover) {
    color: lightgrey;
}
.sub-link {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.sub-link a {
    font-size: 20px;
    margin-top: 10px;
    color: lightgrey;
}
.sub-link a:hover {
    color: white;
}
#megacars {
    overflow: hidden;
}
.slides {
    height: 88vh;
    width: 500%;
    position: relative;
    z-index: -1;
    left: 0%;
    text-align: left;
    font-size: 0;
    animation: 20s slide infinite;
}
#megacars img {
    height: 100%;
    width: 20%;
    object-fit: cover;
    float: left;
}
@keyframes slide {
    0% {
        left: 0%;
    }
    20% {
        left: 0%; }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
.cars {
    width: 350px;
    margin: 80px 50px;
}
.cars img {
    width: 100%;
    border-radius: 3px;
}
#technology {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 2fr;
    padding: 100px 100px;
    background-color: black;
    color: white;
}
.item-one p {
    font-size: 15px;
    line-height: 1;
    color: rgb(108, 123, 123);
}

.item-two p {
    font-size: 80px;
    line-height: 1;
}
#mrgn {
    margin-left: 50px;
}
.tech-item-three p {
    padding-right: 50px;
}
#button {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    outline: 1px solid rgb(108, 123, 123);
    color: invert;
    background-color: transparent;
    border-radius: 2px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}
#button i {
    font-size: 20px;
}
.tech-item-four img {
    width: 90%;
    float: right;
}
#history {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    width: 100%;
}
.hist-item-two {
    margin: 150px 0px;
}
#spcl {
    text-align: right;
}
.hist-item-four img {
    margin-left: 150px;
}
#about {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    width: 100%;
}
.abt-item-one {
    width: 45%;
    text-align: right;
}
#spcl2 {
    margin-right: 50px;
}
.abt-item-three {
    margin: 150px 0px;
}
#abt-button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 10px 10px 20px;
    outline: 1px solid rgb(108, 123, 123);
    color: invert;
    background-color: transparent;
    border-radius: 2px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
    float: right;
}

hr {
    width: 80%;
    margin: auto;
    border: .5px solid rgb(108, 123, 123);
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.show p {
    font-size: 80px;
    line-height: 1;
}
.flink {
    display: flex;
}
.flink-section {
    margin-left: 80px;
}
.flink-section a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
.flink-section a:hover {
    color: rgb(108, 123, 123);
}
.flink-one {
    font-size: 25px;
}
.flink-two {
    font-size: 15px;
}
.cpy {
    text-align: center;
}
.cpy p {
    font-size: 12px;
    margin: 15px 0px;
}

@media (max-width:760px) {
    .navbar {
        height: 10vh;
        padding: 0px 25px;
    }
    nav {
        padding: 600px 50px 80px 50px;
    }
    .navbar:has(#check:checked) ~ nav {
        margin-top: -28vh;
    }
    .main-link a {
        font-size: 60px;
    }
    .sub-link a {
        font-size: 15px;
    }
    .slides {
        height: 60vh;
    }
    #technology {
        grid-gap: 50px;
        grid-template-columns: 1fr;
        padding: 100px 100px;
    }
    .item-two {
        text-align: center;
    }
    #mrgn {
        margin: 0;
    }
    .tech-item-three p {
        padding: 0;
        font-size: 15px;
    }
    .tech-item-four {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tech-item-four img {
        width: 100%;
        float: clear;
    }
    .item-two p {
        font-size: 60px;
    }
    #history {
        justify-content: space-between;
        padding: 100px 100px;
        width: 100%;
    }
    #history {
        display: block;
    }
    .hist-item-four img {
        margin-top: 50px;
        margin-left: 0px;
        width: 100%;
    }
    .hist-item-two {
        margin: 50px 0px;
    }
    #spcl {
        text-align: center;
    }
    #about {
        display: flex;
        flex-direction: column-reverse;
    }
    .abt-item-one {
        width: 100%;
        text-align: center;
    }
    .abt-item-three {
        margin: 50px 0px;
    }
    #abt-button {
        margin-bottom: 50px;
    }
    .abt-item-zero img {
        width: 100%;
    }
    #spcl2 {
        margin-right: 0px;
    }
    footer {
        flex-direction: column;
        padding: 50px 120px;
    }
    .show {
        width: fit-content;
        margin: 0 auto 50px auto ;
    }
    #spcl {
        text-align: right;
    }
    .show p {
        font-size: 60px;
    }
    .flink-section {
        margin-left: 0px;
    }
    .flink {
        justify-content: space-between;
    }
}


/* Styling for nextpage.html */
#none-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#none-head {
    font-size: 80px;
    color: rgb(108, 123, 123);
}
#none-text {
    font-size: 25px;
    margin: 10px 0px;
}
#none-link {
    text-decoration: none;
    color: black;
}
#none-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid rgb(108, 123, 123);
    border-radius: 3px;
    padding: 10px 12px 10px 20px;
}